/*Compositron*/

/* VISITING (base style) */

.anchor { visibility:hidden; }
.ellipsis { visibility:hidden; }

p { box-shadow:0 1px .5rem black; }



/* targeted */

.targeted {background:yellow;}



/* EDITING (implies visiting) */




/* targeted */






/* LAYOUTING (implies editing) */




/* targeted */
