/*state*/

/*buttons and toggles*/


/* Modeswitching */
/*switching between edit and review mode (small to medium screen only)*/

.options {
}
.options > button { color:white; transition:all .2s; display:inline-block; text-indent:0rem;}
.Option {background:rgb(0,72,180); line-height:2.2rem;min-width:3.4rem; height:2.9rem}
.Option:hover {background:rgb(0,42,130);}
.Option+.Option {margin-left:1px;}
.Option:first-of-type { padding-left:.6rem;} 
.Option:last-of-type { padding-right:.6rem;} 
.Option > label { font-size:1rem; }

.layout_indicator { 
    min-width:5.1rem;
    text-indent:0;
    background:rgba(255,255,255,.01); color:rgb(255,90,100); 
    position:absolute; left:0; top:100%; 
    border-bottom:.1rem solid rgb(255,90,100); 
    padding-bottom:.15rem; padding-top:.15rem; 
    transition:all .3s; 
    
} 
.listing .layout_indicator { 
    background:rgb(255,90,100); color:white; 
    transition:all .3s .3s;
}

button.editor_mode { background:rgb(255,90,100); position:relative; }
button.review_mode { background:rgb(0,72,180);}

@media only screen and (max-width:56em) {
    
    button.editor_mode {width:calc(100% - 7rem); text-indent:7rem;}
    button.review_mode {width:7rem; text-indent:0rem;}
    button.editor_mode.reviewing {width:7rem; text-indent:0rem;}
    button.review_mode.reviewing {width:calc(100% - 7rem); text-indent:-7rem;}
        
    .reviewing .layout_indicator { margin-left:-6.2rem;}
    
}
@media only screen and (min-width:56em) {

    button.review_mode { width:calc(100% - 7rem); opacity:0; }
    button.editor_mode { width:7rem; text-align:left; }
     
    button.editor_mode.listing .layout_indicator { min-width:7rem; }
}

/* Review */

button.publish {display:block; margin:1rem auto; padding:.8rem 3rem; border:none;
    background:rgb(0,72,180); color:white; border-radius:.4em;
}
button.publish.browse {background:silver;}
button.publish svg { fill:white; display:block; margin:.5rem auto; transform:scale(2)}
button.publish:hover{background:rgb(0,52,150)}
button:focus {box-shadow:.1rem 0 2rem rgba(0,0,100,.5); outline:none;z-index:8;}
.editor .Ambiguous button.choice:focus
    {box-shadow:.1rem 0 2rem rgba(200,0,10,.5); outline:none;z-index:8;}
