/* EDITING, think "layout view" */


.editing .Assume.targeted { color:transparent; margin-left:-1em;}

.editing .editor section pre {overflow-y:scroll; overflow-x:visible; height:25rem; }

.editing .item.targeted {
    background:rgba(0,0,0,.1);
}

.editing .item.targeted>span:focus  {
    background:white;
    outline:none;
    border-bottom:.1rem solid rgb(200,10,60);
}

.Empty>span.T {
    padding: 0 1.3rem; border-bottom: .1rem solid rgb(200,10,60);
}


.editing figure>*:first-child { height:6rem;background:rgba(0,0,0,.8); color:yellow; width:100%;
				position: relative;
			        display: block !important;}
.editing figure>*:first-child.targeted { background:rgba(0,0,0,1); }
.editing figcaption { padding:.3rem; border-bottom: .07rem solid black; }


.editing figure { background:silver;}
.editing label.◆ {display:none;}
.editing .targeted label.◆ {display:block;}

/*
span.Assume {display:none;}

.editing label.◆ {margin-bottom:-2rem;}*/