@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,700&display=swap);
button {
  position: relative; }

button:focus, [contenteditable]:focus {
  outline: none;
  box-shadow: none; }

[contenteditable]:focus {
  outline: .05rem dashed black;
  background: white; }

button:focus:after, [contenteditable]:focus:after {
  letter-spacing: 0;
  content: "✢";
  position: absolute;
  top: .05em;
  left: 0;
  font-size: 1.5rem;
  line-height: 1em;
  padding-top: .05em;
  text-indent: .08em;
  font-family: "Garamond EB", serif;
  width: 100%;
  animation: spin .5s ease-out 1;
  pointer-events: none; }

.◇:focus:after {
  font-size: 1.2em;
  top: -2.2em; }

.collapsed .◇:focus:after {
  top: -1em; }

[contenteditable]:focus:after {
  left: -.75em;
  font-size: .6em;
  top: -.5em; }

span, .editing span {
  font-size: 1rem;
  line-height: 1.2rem; }

.editing .wrapper {
  position: relative; }

.editing .𝑇 {
  min-width: 2rem; }

.editing .𝑇 + label {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  position: absolute;
  right: 0;
  bottom: -.6rem;
  font-size: .6rem;
  height: .6rem;
  line-height: .6rem;
  text-align: right; }

.editing .C {
  min-height: 1.2rem;
  position: relative;
  line-height: 1.2rem; }

.editing .C > .Tag {
  position: absolute;
  top: 0;
  left: -1rem;
  width: .8rem;
  text-align: center;
  overflow: hidden;
  font-size: .3rem; }

.editing .C.ℭ, .editing .C.¶ {
  min-height: 2.4rem; }
  .editing .C.ℭ .C.ℭ, .editing .C.ℭ .C.¶, .editing .C.¶ .C.ℭ, .editing .C.¶ .C.¶ {
    margin: 0 -1rem; }

.editing .C.ℭ {
  padding: .4rem 1rem .2rem 1rem;
  margin: 0;
  line-height: 1.8rem;
  font-style: italic;
  display: block; }

.editing .C.¶ {
  padding: .4rem 1rem .8rem 1rem;
  margin: 0; }

.editing .C.¶:before {
  content: " ";
  outline: 1px dashed rgba(255, 0, 0, 0.5);
  width: calc(100% - 2rem);
  height: calc(100% - 1.2rem);
  position: absolute;
  top: .4rem;
  left: 1rem;
  pointer-events: none; }

.◇ {
  text-align: center; }

/* C L U M P */
.clump {
  display: inline;
  z-index: 1;
  outline: 1px solid rgba(255, 0, 0, 0.2);
  position: relative;
  height: 1.2rem; }
  .clump > * {
    pointer-events: none; }
    .clump > * > * {
      pointer-events: auto; }
  .clump > .face {
    position: absolute;
    width: 3rem;
    height: 1.2rem;
    margin-left: -1.2rem;
    text-align: center; }
  .clump > .face.cl {
    text-indent: -.29em;
    font-size: 1.2rem; }
  .clump > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1.2rem;
    height: 1.2rem; }
    .clump > ul > li > .Transient {
      color: red; }
  .clump .collapsed {
    position: absolute;
    width: 3rem;
    height: 1.2rem;
    margin-left: -1.5rem; }
    .clump .collapsed > .◇ {
      width: 3rem;
      height: 1.2rem;
      text-align: center; }
      .clump .collapsed > .◇ > ul {
        display: none; }
    .clump .collapsed > .◇:hover {
      background: red; }
  .clump ul.expanded {
    position: fixed;
    left: 0;
    width: 100%; }
    .clump ul.expanded > li > .◇ > .face {
      position: relative;
      padding: 0;
      font-size: 4.8em;
      line-height: .6rem;
      font-family: 'Lato', sans-serif;
      font-weight: 300; }
    .clump ul.expanded > li > .◇:not(.t) {
      max-height: 3.2rem; }
      .clump ul.expanded > li > .◇:not(.t) > ul {
        width: 0;
        overflow: hidden;
        pointer-events: none; }
        .clump ul.expanded > li > .◇:not(.t) > ul > li {
          display: none; }
    .clump ul.expanded > li > .◇.t {
      pointer-events: none; }
      .clump ul.expanded > li > .◇.t > * > * {
        pointer-events: auto; }
      .clump ul.expanded > li > .◇.t > .face:before {
        content: " ";
        border: .1rem dashed black;
        position: absolute;
        width: 1em;
        height: 1em;
        top: .15em;
        left: -.21em;
        border-radius: .5em; }
      .clump ul.expanded > li > .◇.t > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        pointer-events: none; }
        .clump ul.expanded > li > .◇.t > ul > * {
          pointer-events: auto; }
        .clump ul.expanded > li > .◇.t > ul > li {
          border-top: 0.05rem solid #c8b40a;
          border-color: black; }
          .clump ul.expanded > li > .◇.t > ul > li > .Option {
            position: relative;
            background: #c8b40a;
            line-height: 1.2rem;
            height: 3.6rem;
            padding: .5rem;
            border: .025rem solid white;
            border-top-width: .05rem; }
          .clump ul.expanded > li > .◇.t > ul > li > .Option:hover,
          .clump ul.expanded > li > .◇.t > ul > li > .Option:focus {
            background: #b4a500; }
        .clump ul.expanded > li > .◇.t > ul > li:first-of-type > .Option {
          border-left-width: 0; }
        .clump ul.expanded > li > .◇.t > ul > li:last-of-type > .Option {
          border-right-width: 0; }
