/* Base Style, including VISITING */



/* elements */
p, .¶ { 
    box-shadow:inset .05rem .15rem .8rem rgba(0,0,0,.2);
    padding:.3rem 1.2rem .45rem 1.2rem;
    outline: 1px dotted black;
}

.item>input:focus {
    text-decoration:underline;
    color:red;
}