[data-elm-hot="true"] {
  height: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya');


body {
  font-family: 'Alegreya', 'Cormorant Garamond', 'EB Garamond', serif;
  margin: 0;
  text-align: center;
  color: #333;
}

h1 {
    font-size: 4em; margin-top:3em; padding:0;
    font-weight:400;
    color: #a34;
}

img {
    margin: 0;
  max-width: 32em;
}
